<div class="container" id="about">   
  <section class="section">

    <!--Section heading-->
    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>{{ site.data.about.title }}</h1>
    <!--Section sescription-->
    <p class="section-description lead wow fadeIn" data-wow-delay="0.2s">{{ site.data.about.intro | markdownify }}</p>

    <!-- Features -->
    <div class="row features-small wow fadeIn" data-wow-delay="0.4s">

      <!-- Left -->
      <div class="col-md-4" style="padding-top: 2rem;">
      {% for l in site.data.about.features.left %}
        <div class="row">
          <div class="col-2">
            <i class="fa fa-{{ l.icon }} cyan-text"></i>
          </div>
          <div class="col-10 mb-2">
            <h4 class="feature-title">{{ l.title }}</h4>
            <p class="grey-text">{{ l.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Middle -->
      <div class="col-md-4 mb-1 center-on-small-only">
        <img alt="slash from logo" src="https://clusil.lu/img/slash.png" alt="" class="z-depth-0" style="height: 100%;">
      </div>

      <!-- Right -->
      <div class="col-md-4" style="padding-top: 2rem;">
        {% for r in site.data.about.features.right %}
        <div class="row">
          <div class="col-2">
            <i class="fa fa-{{ r.icon }} light-green-text"></i>
          </div>
          <div class="col-10 mb-2">
            <h4 class="feature-title">{{ r.title }}</h4>
            <p class="grey-text">{{ r.desc }}</p>
        </div>
        {% endfor %}
      </div>
 
    </div>
  </section>
</div> 
