<div class="container" id="contact"> 
  <section class="section mb-4 show" style="display: block;">

    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>Contact us</h1>

    <div class="row wow fadeIn" data-wow-delay="0.4s">

      <div class="col-md-6">
        <ul class="contact-icons">
          <li><i class="fa fa-map-marker fa-2x" style=""></i>
            <p style="margin-top: 2em;">CLUSIL a.s.b.l. <br>co/ SECURITYMADEIN.LU <br>16, boulevard d'Avranches<br>L-1160 Luxembourg </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="contact-icons">
          <li><i class="fa fa-envelope fa-2x"></i>
            <p style="margin-top: 2em;"><a href="mailto:info@clusil.lu">info@clusil.lu</a></p>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="wow fadeIn" data-wow-delay="0.2s">Ethical charter, Bylaws</h3>
          <p class="section-description lead wow fadeIn" data-wow-delay="0.2s">Rules regarding promotion, information and communication</p>
          <ul>
            <li>Events of CLUSIL and its working groups</li>
            <li>Events in which CLUSIL is a sponsor</li>
            <li>Events of any other CLUSIx</li>
            <li>Events organized by a non-commercial organization that is related to CLUSIL scope and topics of interest</li>
          </ul>
          <p>Any request for communication is carefully discussed within the Board as to whether it is in line with the objectives of CLUSIL, it's ethics and/or whether it can harm the neutrality and integrity of CLUSIL with regards to the market.</p>
          <p class="section-description lead wow fadeIn" data-wow-delay="0.2s">Articles of association: <a href="http://www.etat.lu/memorial/memorial/1996/C/Pdf/c6290412.pdf#Page=20">creation</a> - <a href="http://www.etat.lu/memorial/memorial/2012/C/Pdf/c0106131.pdf#Page=24">name update</a> 
          </p>
        </div>
      </div>
    </div>
  
  </section>
</div>
