<div class="container pt-4" id="contact"> 
  <section class="section mb-4 show" style="display: block;">

    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>Contact</h1>

    <div class="row wow fadeIn" data-wow-delay="0.4s">

      <div class="col-md-3">
        <ul class="contact-icons">
          <li><i class="fa fa-map-marker fa-2x" style=""></i>
            <p>CLUSIL a.s.b.l. <br>co/ SECURITYMADEIN.LU <br>16, boulevard d'Avranches<br>L-1160 Luxembourg </p>
          </li>
        </ul>
      </div>
      {% if site.data.header.social %}
      {% assign social = site.data.header.social %}
      {% for s in social %}
      <div class="col-md-3">
        <ul class="contact-icons">
          <li><a href="{{ s.link }}"><i class="{{ s.icon }} fa-2x" style=""></i>
            <p>{{ s.title }}</p></a>
          </li>
        </ul>
        </ul>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>Ethical charter & Bylaws</h1>

    <div class="row wow fadeIn" data-wow-delay="0.4s">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Ethical charter</h3>
          <p class="lead">Rules regarding promotion, information and communication:
          <ul class="list-group ml-5 mr-5">
            <li class="list-group-item">Events of CLUSIL and its working groups</li>
            <li class="list-group-item">Events in which CLUSIL is a sponsor</li>
            <li class="list-group-item">Events of any other CLUSIx</li>
            <li class="list-group-item">Events organized by a non-commercial organization that is related to CLUSIL scope and topics of interest</li>
          </ul></p>
          <p>Any request for communication is carefully discussed within the Board as to whether it is in line with the objectives of CLUSIL, it's ethics and/or whether it can harm the neutrality and integrity of CLUSIL with regards to the market.</p>
          <h3 class="mt-2">Bylaws and articles of association</h3>
          <ul class="lead">
            <li><a href="http://www.etat.lu/memorial/memorial/1996/C/Pdf/c6290412.pdf#Page=20">creation</a></li>
            <li><a href="http://www.etat.lu/memorial/memorial/2012/C/Pdf/c0106131.pdf#Page=24">name update</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </section>
</div>
