<div class="container">
<div style="padding-top: 6rem;" id="events">
            <section class="section mt-3" style="">
               
                <!--Section heading-->
                <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 0.75em;">/</span>Latest & future events</h1>
                <!--Section description-->
                
                
                <!--First row-->
<div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
<div class="col-md-2">
<!-- Nav tabs -->
<ul class="nav nav-tabs md-pills pills-primary flex-column" role="tablist">
<li class="nav-item waves-effect waves-light">
<a class="nav-link active" data-toggle="tab" href="#panelf1" role="tab" aria-expanded="true">22nd Feb 2018</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel20" role="tab" aria-expanded="false">9th Nov 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel21" role="tab" aria-expanded="false">7th Sep 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel22" role="tab" aria-expanded="false">15th June 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel23" role="tab" aria-expanded="false">7th June 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel24" role="tab" aria-expanded="false">April 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel25" role="tab" aria-expanded="false">Feb 2017</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab" href="#panel26" role="tab" aria-expanded="false">May 2016</a>
</li>
</ul>
</div>
<div class="col-md-10">
<!-- Tab panels -->
<div class="tab-content vertical">
<!--Panel 1-->
<div class="tab-pane fade active show" id="panelf1" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Anti Money Laundering on Blockchain (CLUSIL & ISACA joint event)</h4>
<p>Alberto Ornaghi, Neutrino's Chief Technology Officer (http://www.neutrino.nu/), and Giancarlo Russo, Neutrino's Chief Executive Officer, will present How-To perform Anti Money Laundering checks and detect suspicious transactions on the bitcoin network, extending the traditional “follow the money” approach also to the dark web.
In particular, they will present how, based on advanced machine learning engines and “clustering” techniques, it is possible to monitor, analyze and track the blockchain and all bitcoin activities providing actionable compliance insight, including setting-up customized “red flag” alerts based on location (“blacklist” approach), detection of money obfuscation schemes (“mixer” and “tumbler”), and bitcoins with suspicious origin/destinations linked to darknet activities.
The techniques and tools presented are used by Law Enforcement, Compliance and Regulatory Organizations and by simple bitcoins network participants.
The presentation is addressed to both technical and non-technical audience (including Compliance, Risk and Audit professionals).</p>
<h4 class="feature-title">Speakers</h4>
<p>
Mr. Alberto Ornaghi and Mr. Giancarlo Russo
</p>
<h4 class="feature-title">When</h4>
<p>iFebruary 22, 2018, on-site registrations starting at 5.30 PM. Conference starting at 6PM</p>
<h4 class="feature-title">Where</h4>
<p>Patisserie Namur, 2, rue de Bitbourg, L1273 Luxembourg</p>
<h4 class="feature-title">Pricing</h4>
<p>Free event, eligible to 2 CPE credits</p>
<h4 class="feature-title">Online registration</h4>
<p><a href="https://aml-on-blockchain-clusil-isacalu.eventbrite.co.uk">https://aml-on-blockchain-clusil-isacalu.eventbrite.co.uk</a></p>
<h4 class="feature-title">Supporting organisation’s website</h4>
<p>www.neutrino.nu</p>
</div>
<!--/.Panel 1-->
<!--Panel 1-->
<div class="tab-pane fade" id="panel20" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Blockchain series - Installment #5</h4>
<p>The CLUSIL series of conferences on Blockchain security aims at surveying current status of Blockchain security, focusing on sector-specific and national initiatives. When speaking about Blockchain security, one mainly thinks of integrity and privacy issues. However, in practise, Blockchain-based solutions also face legal and operational risks. The fifth session of the conference series will cover several of these secondary risks, including legal implications for smart contracts, and security considerations for scalability solutions.</p>
<h4 class="feature-title">Speakers</h4>
<p>
Hervé Hansen (Lawyer): “Smart Contracts and the Law” <br>
Jean Lancrenon (Head of R&D, itrust consulting): “How Blockchain scalability solutions include security”
</p>
<h4 class="feature-title">When</h4>
<p>November 9th - from 17:30 to 20:00</p>
<h4 class="feature-title">Where</h4>
<p>Security made in Lëtzebuerg, HSBC building 2nd floor, 16 boulevard d’Avranches, Luxembourg </p>
</div>
<!--/.Panel 1-->
<!--Panel 1-->
<div class="tab-pane fade" id="panel21" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Blockchain series - Installment #4</h4>
<p>The CLUSIL series of conferences on Blockchain security aims at surveying current status of Blockchain security, focusing on sector-specific and national initiatives. The fourth session provides an insight on two specific aspects of Blockchain. The first part focuses on the security challenges faced especially for smart contract programming and the Ethereum platform, while the second talk provides an analysis of classic cybersecurity issues (confidentiality, integrity and availability) translated to the context of the Blockchain.</p>
<h4 class="feature-title">Speakers</h4>
<p>
Sergei Tikhomirov (CryptoLUX group, SnT, University of Luxembourg): “Security challenges in Ethereum smart contract programming” <br>
Laurent de la Vaissière (Director, Deloitte Luxembourg) and Ismaël Cissé (Senior Manager, Deloitte Luxembourg): “Blockchain : A Cybersecurity perspective”
</p>
<h4 class="feature-title">When</h4>
<p>September 7th - from 17:30 to 20:00</p>
<h4 class="feature-title">Where</h4>
<p>SnT Campus Kirchberg, 6 Rue Richard Coudenhove-Kalergi, L-1359 Luxembourg-Kirchberg</p></div>
<!--/.Panel 1-->

<!--Panel 1-->
<div class="tab-pane fade" id="panel22" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Blockchain series - Installment #3</h4>
<p>The CLUSIL series of conferences on Blockchain security aims at surveying current status of Blockchain security, focusing on sector-specific and national initiatives. The third session provides an insight on the maturity of Blockchain security in real-world applications. The two talks provide lessons learned from previously encountered security incidents and focus on security challenges faced in FinTech applications.</p>
<h4 class="feature-title">Speakers</h4>
<p>
Alex Kampa (Research Director at Sikoba Ltd), “Some security issues facing FinTech/blockchain projects”<br>
Matthieu GARIN (CLUSIF): "Blockchain: lessons learnt from recent incidents"
</p>
<h4 class="feature-title">When</h4>
<p>June 15th - registration starting at 17:15, meeting starts at 17:45</p>
<h4 class="feature-title">Where</h4>
<p>SnT, 29 avenue J.F. Kennedy, L-1855 Luxembourg-Kirchberg</p></div>
<!--/.Panel 1-->
<!--Panel 2-->
<div class="tab-pane fade" id="panel23" role="tabpanel" aria-expanded="false">

<p>CLUSIL and ISACA are honoured to invite you for a conference in the context of the new GDPR! Database Security and Big Data are an important element within data privacy. The conference will give you the opportunity to get hands-on information on database security and big data with international recognized experts. Topics that will be covered are:</p>
  <h4 class="feature-title">Database Security</h4>
  <p>- Type of hackers in relation to databases
<br>
- Different types of attack scenarios
<br>
- SQL Injection attacks (from outside)
<br>
- How to assess the security of databases
<br>
    - Auditing of databases</p>
  <h4 class="feature-title">Big data and security</h4>
<p>-  Deploying Big Data for security
<br>
-  Big Data a potential saviour to replace existing log management systems,  
<br>
  -  Using Big Data techniques to analyse, and even predict, security incidents,
</p>
  <h4 class="feature-title">Speakers</h4>
<p>
Alexander Kornbrust (founder of Red-Database-Security), “Database Security”<br>
Laurent Dufossé (founding partner and technical supervisor of AdbA): "Big Data and security"
</p>
<h4 class="feature-title">When</h4>
<p>June 7th - conference starts at 17:30</p>
<h4 class="feature-title">Where</h4>
<p>SnT, 29 avenue J.F. Kennedy, L-1855 Luxembourg-Kirchberg</p>
	</div>
<!--/.Panel 2-->
<!--Panel 3-->
<div class="tab-pane fade" id="panel24" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Blockchain series - Installment #2</h4>
<p>The CLUSIL series of conferences on Blockchain security aims at surveying current status of Blockchain security, focusing on sector-specific and national initiatives. For the second event, we are pleased to welcome two speakers who have a solid background on the security and resilience of Blockchain-based applications. In their talks, they will share some of their experience by outlining the major security concerns that occur when developing such applications.</p>
<h4 class="feature-title">Speakers</h4>
<p>
Antoine DETANTE (Manager at InTech), “Security key points for blockchain based applications”<br>
Frank ROESSIG (Head Financial Solutions at Telindus): "Securing BlockChain for the Application by the Financial Sector"
</p>
<h4 class="feature-title">When</h4>
<p>Wednesday, 5th April 2017 starting at 17:30</p>
<h4 class="feature-title">Where</h4>
<p>SnT &ndash; Weicker building - 4, rue Alphonse Weicker - L-2721 Luxembourg (near the Auchan)</p>
</div>
<!--/.Panel 3-->
<!--/.Panel 4-->
<div class="tab-pane fade" id="panel25" role="tabpanel" aria-expanded="false">
<h4 class="feature-title">Blockchain series - Installment #1</h4>
<p>    Blockchain is nowadays considered as a key technology, particularly in Luxembourg, where many initiatives around this new paradigm are launched. Since the FinTech ecosystem and the Blockchain are based on similar concepts, it is primarily the financial sector that is concerned. However, there exist many more applications in other domains, including the medical sector, e-voting and smart contracts. Security of Blockchain technology is an ambivalent concept: while security constitutes its main strength, it is also the primary source of mistrust that one may have of Blockchain-based applications. The CLUSIL series of conferences on Blockchain security aims at surveying current status of Blockchain security, focusing on sector-specific and national initiatives.</p>
<h4 class="feature-title">Speakers</h4>
<p>
Steve MULLER (Security Researcher at itrust consulting): "Fundamentals of Blockchain security"
<br>        Laurent KRATZ (Co-Founder at Scorechain): "Cryptocurrencies de-anonymisation, the hunt for ransomware"
</p>
<h4 class="feature-title">When</h4>
<p>    Tuesday, 7 February 2017 starting at 17:30</p>
<h4 class="feature-title">Where</h4>
<p>    SnT &ndash; Weicker building - 4, rue Alphonse Weicker - L-2721 Luxembourg (near the Auchan)</p>
</div>
<div class="tab-pane fade" id="panel26" role="tabpanel" aria-expanded="false">

<h4 class="feature-title">20 YEARS OF CLUSIL</h4>
<p>Under the high patronage of the Vice-Prime Minister, Etienne Schneider, CLUSIL, will celebrate its 20 years of existence on May 30th and 31st in Luxembourg with an international panel of speakers. Agenda details being available on a dedicated website: <a href="20.clusil.lu">20.clusil.lu</a>.</p>
<p>A 2 days conference that will include:</p>
<blockquote class="blockquote bq-primary">
<p class="bq-title">SECURITYMADEIN.LU Cybersecurity Breakfast #7<br>"Fintech and cybersecurity" round-table</p>
</blockquote>
<blockquote class="blockquote bq-primary">
<p class="bq-title">Startup lounge</p>
</blockquote>
<blockquote class="blockquote bq-primary">
<p class="bq-title">R&amp;D efforts in cybersecurity</p>
</blockquote>
<p>At the end of each day, a networking cocktail and respectively a BBQ are scheduled.</p>
<h4 class="feature-title">When</h4>
<p>May 30th and 31st 2016</p>
<h4 class="feature-title">Where</h4>
<p>Confiserie Namur, in Hamm.</p>
</div>
</div>
</div>
</div>
                <!--/First row-->
                
            </section>
          </div>
</div>

