<div id="statistics" class="container-fluid pt-6 streak streak-photo view hm-black-strong streak-large" style="background-image:url('/assets/img/StockSnap_RWAIWJWRKY.jpg')">
  <div class="mask flex-center">
    <div class="container">
	   
      <h1 class="white-text text-center wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>{{ site.data.figures.title }}</h1>
      <h5 class="white-text text-center wow fadeIn" data-wow-delay="0.2s">{{ site.data.figures.intro }}</h5>
	   
      <div class="row text-white text-center wow fadeIn" data-wow-delay="0.2s">
				
        {% for f in site.data.figures.figures %}
        <div class="col-md-3 mt-2">
	  <h1 class="light-green-text">{{ f.figure }}</h1>
          <p>{{ f.desc }}</p>
	</div>
        {% endfor %}
				
      </div>

    </div>
  </div>
</div>
