<div  id="statistics" class="container-fluid streak streak-photo view hm-black-strong streak-large" style="background-image:url('/assets/img/StockSnap_RWAIWJWRKY.jpg')">
		<div class="mask flex-center">
			<div class="container">
	   
	   <h1 class="white-text text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 0.75em;">/</span>Facts and figures</h1>
			   <h5 class="white-text text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">See the real numbers about the association</h5>
	   
	    <!--First row-->
			    <div class="row text-white text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
				
				<!--First column-->
				<div class="col-md-3 mt-2">
				    <h1 class="light-green-text" style="">+220</h1>
				    <p>Members per year<br>(private or corporate)<br>(last 8 years average) </p>
				</div>
				<!--/First column-->
				
				<!--Second column-->
				<div class="col-md-3 mt-2">
				    <h1 class="light-green-text">+80</h1>
				    <p>Events organized including<br>National/international conferences<br>Working group gatherings<br>(last 6 years)<br>(excluding General Assemblies)</p>
				</div>
				<!--/Second column-->
				
				<!--Third column-->
				<div class="col-md-3 mt-2">
				    <h1 class="light-green-text">+1'000</h1>
				    <p>People present during events <br>over last 6 years<br> (excluding General Assemblies)</p>
				</div>
				<!--/Third column-->
				
				<!--Fourth column-->
				<div class="col-md-3 mt-2">
				    <h1 class="light-green-text">+35</h1>
				    <p>Companies with 100+ employees renewing their corporate membership <br>(last 8 years average)</p>
				</div>
				<!--/Fourth column-->
				
		    </div>
		    <!--/First row-->
		</div>
	</div>
</div>
