<!--Footer-->
<footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div id="join-us" class="container-fluid">
           
            <!--First row-->
            <div class="row mb-2 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">

                <!--First column-->
                <div class="col-lg-6 offset-lg-3 text-center smooth-scroll">
                    
                    <i class="fa fa-users fa-4x pink-text pt-1 pb-2"></i>
                    <!--Title-->
                    <h2 class="mb-2 bold-font">Become a member</h2>
                    <!--Description-->
                    <p class="white-text" style="font-size: 1.3em;">The slogan of the CLUSIL is “by the experts for the experts”, meaning that all different professional experts concerned will find their added value by becoming a member of the CLUSIL. Below the yearly fees:</p>
                    <!--Reservation button-->
  					<div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
  					
  									<div class="col-md-4">
                        <ul class="contact-icons">
                            <li>
                                <p style="margin-top: 2em;">A proof is required <br>25 EUR</p>
                              <a class="btn btn-pink waves-effect waves-light" href="https://cms.clusil.lu/reg/student/">Student membership</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="contact-icons">
                            <li>
                                <p style="margin-top: 2em;">As a private person<br>100 EUR</p>
                              <a class="btn btn-pink waves-effect waves-light" href="https://cms.clusil.lu/reg/individual/">Private membership</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="contact-icons">
                            <li>
                                <p style="margin-top: 2em;">For companies<br>400 EUR per 6 people</p>
                              <a class="btn btn-default waves-effect waves-light" href="https://cms.clusil.lu/reg/organisation/">Corporate membership</a>
                            </li>
                        </ul>
                    </div>
					  </div>
                </div>
                <!--/First column-->

            </div>
            <!--/First row-->
            
            <hr>

            <!--Second row-->
            <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
            
                <div class="col-lg-6 offset-lg-3 text-center smooth-scroll">
                    <!--Title-->
                    <h5 class="title">Stay in touch</h5>

                    <!--Social buttons-->
                    <ul class="inline-ul">
                        <li><a class="btn-floating btn-small btn-fb waves-effect waves-light" href="https://www.linkedin.com/groups/3852540"><i class="fa fa-linkedin"> </i></a></li>
                        <li><a class="btn-floating btn-small btn-tw waves-effect waves-light" href="https://twitter.com/clusil_lu"><i class="fa fa-twitter"> </i></a></li>
  <li><a href="https://cms.clusil.lu/" class="btn-floating btn-small btn-pin waves-effect waves-light"><i class="fa fa-sign-in"> </i></a></li>
                    </ul>
                    <!--/Social buttons-->
							  </div>
            </div>
            <!--/Second row-->
            
        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="container-fluid">
                &copy; 2017 CLUSIL a.s.b.l.
            </div>
        </div>
        <!--/Copyright-->

</footer>
<!--/Footer-->

