<!--Footer-->
<footer class="page-footer center-on-small-only">
  <div id="join-us" class="container-fluid pt-4">

    <div class="row mb-2 wow fadeIn" data-wow-delay="0.2s" >
      <div class="col-lg-8 offset-lg-2 text-center smooth-scroll">
        <i class="fa fa-users fa-4x pink-text"></i>
        <h2 class="mb-2 mt-2 bold-font">{{ site.data.footer.title }}</h2>
        <h3>{{ site.data.footer.subtitle }}</h3>
        <p class="white-text">{{ site.data.footer.intro }}</p>

        <div class="row wow fadeIn" data-wow-delay="0.4s">
          {% for m in site.data.footer.memberships %}
          <div class="col-md-4">
            <ul class="contact-icons">
              <li>
<!--                <a class="btn btn-{{ m.button }} waves-effect waves-light" href="https://cms.clusil.lu/reg/{{ m.type }}/">{{ m.title }}</a> -->
                <a class="btn btn-{{ m.button }} waves-effect waves-light" href="javascript:;" onclick="{{ m.form }}">{{ m.title }}</a>
                <p style="margin-top: 2em;">{{ m.desc }}<br><i>{{ m.fee }}</i></p>
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>


        <hr>

        <!--Social Icons-->
        {% if site.data.header.social %}
        {% assign social = site.data.header.social %}
        <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s">
          <div class="col-lg-6 offset-lg-3 text-center smooth-scroll">
            <h5 class="title">Stay in touch</h5>
            <ul class="inline-ul">
              {% for s in social %}
              {% if s.button %}<li><a class="btn-floating btn-small {{ s.button }} waves-effect waves-light" href="{{ s.link }}" target="_blank"><i class="{{ s.icon }}"></i></a></li>{% endif %}
              {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>
           
  </div>

  <!--Copyright-->
  <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">&copy; 2017, 2018 CLUSIL a.s.b.l.</div>
  </div>
  <!--/Copyright-->

</footer>

