  <!--Navbar-->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
    <div class="container">
               
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                
      <a class="navbar-brand" href="#home">
        <img alt="clusil logo" src="/assets/img/logo.png" class="d-inline-block align-top" style="width: 7em;">
      </a>
                
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto smooth-scroll">
          {% for n in site.data.header.homenav %}
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="{{ n.url }}">{{ n.title|safe }}</a>
          </li>
          {% endfor %}
        </ul>

   	<!--Social Icons-->
        {% if site.data.header.social %}
          {% assign social = site.data.header.social %}
          <ul class="navbar-nav nav-flex-icons">
            {% for s in social %}
            <li class="nav-item"><a class="nav-link waves-effect" href="{{ s.link }}" alt="{{ s.title }}" target="_blank"><i class="{{ s.icon }}"></i></a></li>
            {% endfor %}
	  </ul>
        {% endif %}
                 
      </div>
    </div>
  </nav>
  <!--/Navbar-->
