<div class="container-fluid" style="background-color: #bdbdbd; padding-top: 6rem;" id="partners">
  <div class="container">
            
    <!--Heading-->
    <div class="text-center">
      <h1 class="mb-1 wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>{{ site.data.partners.title }}</h1>
      <h3 class="mb-4 wow fadeIn" data-wow-delay="0.2s">{{ site.data.partners.intro | markdownify }}</h3>
    </div>
            
    <!--Items wrapper-->
    <div class="mb-2 flex-center">  
      <div class="row mb-3 wow fadeIn flex-center" data-wow-delay="0.4s">
        {% for p in site.data.partners.partners %}
        <div class="col-md-2">
<!--
          <a href="{{ p.url }}"><img src="{{ p.img }}" alt="{{ p.title }}" class="img-fluid"></a>
-->
          <img src="{{ p.img }}" alt="{{ p.title }}" class="img-fluid" />
        </div>
        {% endfor %}
      </div>
    </div> 
  </div>
</div>

