<div class="container" style="padding-top: 6rem;" id="team">
    <!--Section: Team v.1-->
    <section class="section team-section mt-4">

	<!--Section heading-->
	<h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 0.75em;">/</span>Most active and board members</h1> 
	<!--Section description-->
	<p class="section-description wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">We are a neutral association created and hosted by information security professionals of Luxembourg and the greater region, aiming to be a centre of expertise for all its members.</p>

	<!--First row-->
	<div class="row text-center">
	    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
		<div class="avatar">
		    <img alt="jean goetzinger" src="img/jeanGoetzinger2.jpeg" class="rounded-circle">
                        </div>
                        <h4>Jean Goetzinger</h4>
                        <h5>Head of Risk Prevention Section at BCL</h5>
                        <p>President</p>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/jean-goetzinger-8425679/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm tw-ic" href="https://twitter.com/jgoetzin"><i class="fa fa-twitter"> </i></a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="pascal steichen" src="img/pascalSteichen.jpg" class="rounded-circle">
                        </div>
                        <h4>Pascal Steichen</h4>
                        <h5>CEO at SECURITYMADEIN.LU</h5>
                        <p>Vice-President</p>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/psteichen/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm tw-ic" href="https://twitter.com/_pst"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="yves de pril" src="img/yvesDePril.jpg" class="rounded-circle">
                        </div>
                        <h4>Yves De Pril</h4>
                        <h5>Director at Sonn PSF SA</h5>
                        <p>Treasurer</p>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/yves-de-pril-804ab9/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm tw-ic" href="https://twitter.com/conostix"><i class="fa fa-twitter"> </i></a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="nicolas mayer" src="img/nicolasMayer.jpg" class="rounded-circle">
                        </div>
                        <h4>Nicolas Mayer</h4>
                        <h5>Senior R&amp;D associate at LIST</h5>
                        <p>Secretary General</p>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/nicolas-mayer-ph-d-2748a41/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm comm-ic" href="http://nmayer.eu/"><i class="fa fa-comments"> </i></a>
                    </div>
                </div>
<div class="row text-center">

                    <!--First column-->
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                        <div class="avatar">
                            <img alt="raphael taban" src="img/raphaelTaban.jpg" class="rounded-circle">
                        </div>
                        <h4>Raphael Taban</h4>
                        <h5>Information Security Risk Manager</h5>
                        <p>Deputy Secretary General</p>

                        <a class="icons-sm li-ic" href="https://lu.linkedin.com/in/rtaban"><i class="fa fa-linkedin"> </i></a>
                        <!--Pinterest-->
                        <a class="icons-sm tw-ic" href="https://twitter.com/rtaban"><i class="fa fa-twitter"> </i></a>
                        <!--Instagram-->
                        <!--GitHub-->
                        <a class="icons-sm git-ic" href="https://github.com/rtaban"><i class="fa fa-github"> </i></a>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                        <div class="avatar">
                            <img alt="cedric mauny" src="img/cedricMauny.jpg" class="rounded-circle">
                        </div>

                        <h4>Cedric Mauny</h4>
                        <h5>Senior Manager of Cybersecurity Department at Telindus Luxembourg</h5>
                        <p>Administrator</p>

                        <!--Facebook-->
                        <a class="icons-sm li-ic" href="https://lu.linkedin.com/in/cedricmauny"><i class="fa fa-linkedin"> </i></a>
                        <!--Pinterest-->
                        <a class="icons-sm tw-ic" href="https://twitter.com/S_Team_Approved/"><i class="fa fa-twitter"> </i></a>
                        <!--Instagram-->
                        
                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="thierry grandjean" src="img/thierryGrandjean.jpg" class="rounded-circle">
                        </div>
                        <h4>Thierry Grandjean</h4>
                        <h5>Research engineer at LIST</h5>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/thierrygrandjean/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm tw-ic" href="https://www.linkedin.com/in/thierrygrandjean/"><i class="fa fa-twitter"> </i></a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="steve muller" src="img/steveMuller.jpg" class="rounded-circle">
                        </div>
                        <h4>Steve Muller</h4>
                        <h5>Security Researcher at itrust consulting</h5>
                        <a class="icons-sm li-ic" href="https://lu.linkedin.com/in/steve-muller-ab9150106"><i class="fa fa-linkedin"> </i></a>
                    </div>
                </div>
<div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="avatar">
                            <img alt="margot hartman" src="img/margot_hartman.jpeg" class="rounded-circle">
                        </div>
                        <h4>Margot Hartman</h4>
                        <h5>Administrative Assistant at Securitymadein.lu</h5>
                        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/margot-hartman-051b6341/"><i class="fa fa-linkedin"> </i></a>
                        <a class="icons-sm comm-ic" href="mailto:secgen@clusil.lu"><i class="fa fa-comments"> </i></a>
                    </div>
                </div>
            </section>
            <!--/Section: Team v.1-->
            
            <hr class="between-sections">
         <div style="padding-top: 6rem;" id="contact"> 
            <!--Section: Contact v.2-->
            <section class="section mb-4 show" style="display: block;">

                <!--Section heading-->
                <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 0.75em;">/</span>Contact us</h1>
                <!--Section sescription-->
                

                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                    <div class="col-md-6">
                        <ul class="contact-icons">
                            <li><i class="fa fa-map-marker fa-2x" style=""></i>
                                <p style="margin-top: 2em;">CLUSIL a.s.b.l. <br>co/SECURITYMADEIN.LU <br>16, boulevard d'Avranches<br>L-1160 Luxembourg </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="contact-icons">

                            <li><i class="fa fa-envelope fa-2x"></i>
                                <p style="margin-top: 2em;"><a href="mailto:info@clusil.lu">info@clusil.lu</a></p>
                            </li>
                        </ul>
                    </div>
		<div class="col-md-12">
			<h3 class="wow fadeIn" data-wow-delay="0.2s" style="text-align:center;margin-bottom:4rem;margin-top:2rem;visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Ethical charter, Bylaws</h3>
<div class="text-center">
  <p class="section-description lead wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; margin-bottom: 2rem;"> 
  Rules regarding promotion, information and communication
  </p><ul>
   <li>Events of CLUSIL and its working groups</li>
   <li>Events in which CLUSIL is a sponsor</li>
   <li>Events of any other CLUSIx</li>
   <li>Events organized by a non-commercial organization that is related to CLUSIL scope and topics of interest</li>
  </ul>
  
  <p>
  Any request for communication is carefully discussed within the Board as to whether it is in line with the objectives of CLUSIL, it's ethics and/or whether it can harm the neutrality and integrity of CLUSIL with regards to the market.
  </p>
<p class="section-description lead wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; margin-top: 3rem;"> 
Articles of association: <a href="http://www.etat.lu/memorial/memorial/1996/C/Pdf/c6290412.pdf#Page=20">creation</a> - <a href="http://www.etat.lu/memorial/memorial/2012/C/Pdf/c0106131.pdf#Page=24">name update</a> 
  </p>
</div></div>
                </div>
  
            </section>
            <!--/Section: Contact v.2-->
          </div>
        </div>
