<div class="container pt-4" id="team">
  <section class="section team-section">
    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"><span style="color: red; letter-spacing: 8px; vertical-align: middle; font-weight: 900; font-size: 1.5em;">/</span>{{ site.data.team.title }}</h1> 
    <p class="section-description wow fadeIn" data-wow-delay="0.2s">{{ site.data.team.intro }}</p>

    <div class="text-center">
      {% for m in site.data.team.members %}
      <div class="col-lg-3 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
        <div class="avatar">
	  <img alt="{{ m.name }}" src="{{ m.photo }}" class="rounded-circle">
        </div>
        <h4>{{ m.name }}</h4>
        <h5>{{ m.title }}</h5>
        <p>{{ m.function }}</p>
        {% if m.social.ln %}<a class="icons-sm li-ic" href="https://www.linkedin.com/in/{{ m.social.ln }}/"><i class="fa fa-linkedin"> </i></a>{% endif %}
        {% if m.social.tw %}<a class="icons-sm tw-ic" href="https://twitter.com/{{ m.social.tw }}"><i class="fa fa-twitter"> </i></a>{% endif %}
        {% if m.social.gh %}<a class="icons-sm gh-ic" href="https://github.com/{{ m.social.tw }}"><i class="fa fa-github"> </i></a>{% endif %}
      </div>
      {% endfor %}
    </div>

  </section>
</div>
