{% include head.html %}

<body class="light-blue-skin intro-page">
 <!-- Navigation & Featured -->
   <header>
    {% include navigation.html %}
    {% include featured.html %}
  </header>

  <!-- Main content-->
  <main>
    {% include event-section.html %}

    <hr class="between-sections">

{% comment %}
    {% include publications-section.html %}

    <hr class="between-sections">
{% endcomment %}

    {% include about-section.html %}

    {% include partner-section.html %}
    
{% comment %}
    {% include figures-section.html %}
{% endcomment %}

    {% include team-section.html %}

    <hr class="between-sections">

    {% include contact-section.html %}

  </main>
    
  <!-- Footer -->
  {% include footer.html %}

  <!-- Scripts -->
  {% include javascripts.html %}

  <div class="hiddendiv common"></div>
</body>
</html>
