{% include head.html %}

<body class="light-blue-skin intro-page">
  <!-- Navigation & Featured -->
  {% include header.html %}

  <!-- Main content-->
  <main>
    {% include event-section.html %}

    <hr class="between-sections">

    {% include about-section.html %}

    {% include partner-section.html %}
    
    {% include figures-section.html %}

    {% include team-section.html %}

  </main>
    
  <!-- Footer -->
  {% include footer.html %}

  <!-- Scripts -->
  {% include javascripts.html %}

  <div class="hiddendiv common"></div>
</body>
</html>
